.bg-login-background {
  background-color: #323232 !important;
}

.text-login-secondary {
  color: #787777;
}

.text-orange {
  color: #FF5A30;
}

.login-button {
  background-color: #FF5A30;
  border: none;
  outline: none;
  transition: none;
}

.login-button:hover {
  background-color: #ff4d21;
}

.login-input {
  background-color: #4F4F4F;
  border: none !important;
  outline: none !important;
  color: #F9FAFC !important;
}

.login-input::placeholder {
  color: #ebeaea90 !important;
}

.file-container {
  border: 2px dashed #4f4f4f !important;
}

.file-upload {
  background-color: #4F4F4F !important;
  width: 100%;
  border-radius: 8px !important;
}