.search-icon {
  right: 1.6rem;
  top: 0.65rem;
}

.box {
  height: 50px;
  width: 50px;
  background-color: #DBDCFE;
}

.box:hover {
  background-color: #c7c9ff;
  cursor: pointer;
}

.user {
  min-height: 70px;
  max-height: 70px;
  background-color: #EEEFFA;
}

.user:hover {
  background-color: #DBDCFE;
  cursor: pointer;
}

.chat-peek {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 90%;
}

.messages-count {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.616);
  height: 20px;
  width: 20px;
  background: #ff7a55;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
}

.chat-users::-webkit-scrollbar {
  width: 5px;
}

.send-button {
  right: 1.5rem;
  border: none;
  transition: none !important;
}

.send-button:focus {
  cursor: pointer;
  border: none;
}

input {
  transition: none !important;
}

input:focus {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
  transition: none !important;
}